html, body{
  min-height: 100%;
}

.jumbotron {
  margin-top: 51px;
  margin-bottom: 0px;
}

section {
  min-height: 100%;
  padding-top: 100px;
}

section#bureau {
  background-color: #eee;
}

section#bureau div#members {
  margin-top: 50px;
}

section#bureau img {
  margin-left: auto;
  margin-right: auto;
}

section#bureau p.caption {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

div.margin-50 {
  height: 50px;
}

.btn.btn-theme {
  background-color: #000;
  color: #fff;
}

section#bureau .btn.btn-theme, section#objectifs .btn.btn-theme {
  margin-top: 100px;
  margin-bottom: 100px;
}

section#contact form {
  margin-top: 50px;
  margin-bottom: 100px;
}

.btn.btn-social{
  background-color: transparent;
  color: #000;
}
.btn.btn-social:hover, .btn.btn-social:focus{
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

div.footer {
  background-color: #000;
  color: #fff;
}

div.footer a {
  color: #fff;
}
