<meta charset="utf-8">
<meta x-weixin-history-title="{{ page.title }}" x-weixin-history-source="FAMES" x-weixin-history-imgurl="{{ page.img_url || site.img_url }}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ page.title }}" />
<meta property="og:description"        content="" />
<meta property="og:image"              content="{{ page.img_url || site.img_url }}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
<link rel="stylesheet" href="/css/main.css">
<title> {{ page.title }}</title>
